{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel = "stylesheet" href="{% static 'css/generalstyle.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="jumbotron text-center">
		<h1>Welcome to Nicky's Site!</h1>
		<p>share the love and peace with algorithm</p>
	</header>
	<h1 class="statement" style="text-align: center">
		Who am I? Am I Programer?
	</h1>
	<div class="row">
		<img src="{% static 'img/pp.jpg' %}" style="padding-left: 100px" class="col-lg-3">
		<div class="col-lg-9">
			<h2 class="desc">
				My name is Muhamad Nicky Salim. I was born in Jakarta and live in Tangerang. I am a student in Universitas Indonesia and teaching as a private teaching assistant. My expertise is desktop programing and math. I wanna change the world with my code!
				<br><br>
				Let you know me much at below here!
				<br><br>
			</h2>
			<a href="profile" class="button" style="margin-left: 35%">My Profile</a>
		</div>
	</div>
</body>
</html>