{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="widtd=device-widtd, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel = "stylesheet" href="{% static 'css/generalstyle.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header class="jumbotron text-center">
		<h1>Welcome to Nicky's Site!</h1>
		<p>share the love and peace with algorithm</p>
	</header>
	<h1 class="statement" style = "text-align: center">
		Here's describe my profile below ...
	</h1>
	<div class="row">
		<img src="{% static 'img/pp.jpg' %}" style="padding-left: 100px" class="col-lg-3">
		<div class="col-lg-9">
			<h2 class="descTitle">
				Biodata
			</h2>
			<h3 class="desc">
				- Name : Muhamad Nicky Salim <br>
				- Surname : Nicky <br>
				- Birth place : Jakarta <br>
				- Birth date : 27 January 1999 <br>
				- Gender : Male <br>
				- Hometown : Tangerang <br>
				- Blood type : O+ <br>
				- Myers-Briggs : ENTJ <br>
				- Hobby : Playing chess <br>
				- Motto : "there's no dream too high!" <br>
			</h3>
			<h2 class="descTitle">
				Skill and Expertise 
			</h2>
			<h3 class="desc">
				Mastered skill : Chess, Dekstop Programing, Math <br>
				Programing language I known : Python, Pascal, Java, and C++ <br>
				Programing language I learn : Html5, CSS3, PHP, JavaScript <br>
			</h3>
			<h2 class="descTitle">
				Education
			</h2>
			<h3 class="desc">
				- Preschool : (2003) Harapan Bangsa, West Jakarta <br>
				- Elementary : (2005) SDN Cipondoh 2, Tangerang <br>
				- Jr High School : (2011) SMPN 5 Tangerang, Tangerang <br>
				- High School : (2014) SMAN 2 Tangerang, Tangerang <br>
				- University : (2017) Faculty of Computer Science, Universitas Indonesia, Depok <br>
			</h3>
			<h2 class="descTitle">
				Work and Organizational Experience 
			</h2>
			<h3 class="desc">
				- (2016) Project Officer of Event Internal Science Olympiad at high school <br>
				- (2016 - 2017) Coach and administrator of Science Olympiad Club at high school <br>
				- (2017) Lab Teaching Assistant at Open House Fasilkom UI <br>
				- (2018) Head of Comsumption Division for Regional Tangerang at Forkoma Education Care UI 2018 <br>
				- (2018) Teacher at Bimbel Laskar UI, Depok <br>
				- (2018) Head of Education Division at Mari Mengajar 7, Banten <br><br><br>
			</h3>
		</div>
	</div>
</body>
</html>