body {
	background-color: #000000;
}
.jumbotron {
	padding-top: 100px;
	height: 350px;
	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-size: 100% 100%;
	color: #fff000;
}
.statement {
	color : #fff000;
	padding-top: 30px;
	font-size: 60px;
}
.descTitle {
	text-align: left;
	padding-left: 50px;
	color: #fff000;
	padding-right: 100px;
	font-size: 45px;
}
.desc {
	text-align: left;
	color: #fff000;
	padding-right: 100px;
	font-size: 35px;
}
img {
	float: left;
	width: 420px;
	height: auto;
}
.button {
	background-color: #fff000;
	border: none;
	color: #000;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}
.button:hover {
	background-color: #000000;
	color: #fff000;
}